<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <h1>Team Name: <%= @team_name %><input type="text" name="name"></h1>
    <h2>Coach: <%= @coach %><input type="text" name="coach"></h2>
    <h2>Point Guard: <%= @pg %><input type="text" name="pg"></h2>
    <h2>Shooting Guard: <%= @sg %><input type="text" name="sg"></h2>
    <h2>Power Forward: <%= @pg %><input type="text" name="pf"></h2>
    <h2>Small Forward: <%= @sf %><input type="text" name="sf"></h2>
    <h2>Center: <%= @c %><input type="text" name="c"></h2>

 </body>
</html>


